body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.login {
  margin: 10px 20px 10px 800px;
}

h1 {
  margin: 10px 800px 10px 100px;
}

.list {
    font-size: xx-large;
    width: 100%;
}

.new {
    font-size: xx-large;
}

.product {
    display: inline-block;
    padding: 0.5em 0.5em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}

.detail {
    font-size: 30px;
    display: inline-block;
}

.image {
  img {
    width: 300px;
  }
}

.question {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}

.answer {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}
