body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.login {
  margin: 10px 20px 10px 800px;
}

h1 {
  margin: 10px 800px 10px 100px;
}

.list {
    font-size: xx-large;
    width: 100%;
}
